{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.lastName) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.alias) }}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        {{ form_row(form.dateOfBirth) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.dateOfDeath) }}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        {{ form_row(form.jobs) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.books) }}
    </div>
    <div class="col-md-2"></div>
</div>

<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}