{% extends 'base.html.twig' %}

{% block title 'Tous les auteurs | ' ~ parent() %}

{% block body %}    
    <h1 class="text-primary mt-2 mb-3">Tous les auteurs</h1>

    <h3 class="d-flex justify-content-center m-3">
        <a href="{{ path('app.author.new') }}" class="btn btn-primary rounded text-light" title="Ajouter un auteur"> 
            <span class="fs-4">
                <i class="fa-solid fa-plus"></i>
            </span>
        </a>
    </h3>

    <div class="d-flex justify-content-center container-fluid">
        <div class="row w-50">
        {% for author in authors %}
            <div class="d-flex justify-content-center flex-wrap col-4">
                <a class="btn btn-info rounded-4 m-3" href="{{ path('app.author.show', {'id': author.id})}}"> {{ author.firstName }} {{ author.lastName }}</a>
            </div>
        {% else %}
            <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>




        {% endfor %}
        </div>
    </div>

{% endblock %}
