{% extends 'base.html.twig' %}

{% block title 'Auteur | ' ~ parent() %}

{% block body %}
    {# <h1 class="text-primary mt-2 mb-5">Auteur</h1> #}

    <div class="container-fluid w-75 d-flex justify-content-center">
        <div class="card border-info mb-4" style="max-width: 20rem;">
            <div class="card-header">{{ author.firstName }} {{ author.lastName }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ author.alias }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ author.dateOfBirth ? author.dateOfBirth|date("m/d/Y", "Europe/Paris") : '' }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ author.dateOfDeath ? author.dateOfDeath|date("m/d/Y", "Europe/Paris") : '' }}</h6>
                <p class="card-text text-info">{{ format.description }}</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center grid gap-3 bg-light">
        <a href="{{ path('app.author.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        
        <a href="{{ path('app.author.edit', {'id': author.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        
        {{ include('author/_delete_form.html.twig') }}
    </div>

{% endblock %}
