{% extends 'base.html.twig' %}

{% block title 'Équipe | ' ~ parent() %}

{% block body %}

    <div class="container-fluid w-75 d-flex justify-content-center">
        <div class="card border-info mb-4" style="max-width: 20rem;">
            <div class="card-header bg-info fs-3 text-light">{{ team.name }}</div>
            <div class="card-body">
                {# <h4 class="card-title">{{ team.id }}</h4> #}
                {% for character in team.characters %}
                    <div class="card-subtitle mb-2 text-muted">
                        <a href="{{ path('app.character.show', {'id': character.id})}}">
                            <span class="fs-4 badge bg-{% if loop.index is even %}primary{% else %}danger{% endif %}"> 
                                {{ character.alias }}
                            </span>
                        </a>
                        <hr>
                    </div>
                {% endfor %}
                <p class="card-text text-info">{{ team.description }}</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center grid gap-3">
        <a href="{{ path('app.portrait.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        
        <a href="{{ path('app.team.edit', {'id': team.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        
        {{ include('team/_delete_form.html.twig') }}
    </div>

{% endblock %}
