{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr> #}
            <tr>
                <th>Titre</th>
                <td>{{ event.title }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center grid gap-3">
        <a href="{{ path('app.event.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        
        <a href="{{ path('app.event.edit', {'id': event.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        
        {{ include('event/_delete_form.html.twig') }}
    </div>

{% endblock %}
