{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ type }}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Enregistré!</strong>
            {{message}}
        </div>
    {% endfor %}
{% endfor %}