{# templates/_layouts/partials/univers_badges.html.twig #}

<div class="d-flex justify-content-between mb-3">
    {% for univers in multivers %}
        <div class="badge bg-primary col-3 p-2">
            <a href="{{ path('app.book.univers', {'id': univers.id})}}" class="active text-light fs-5">{{ univers.name }}</a>
        </div>
    {% endfor %}
</div>