{{ form_start(form) }}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            {{ form_row(form.alias) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.portraits) }}
        </div>
        <div class="col-md-2 d-flex">
            {{ form_row(form.side) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_row(form.teams) }}
        </div>
        <div class="col-md-2"></div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
