{% extends 'base.html.twig' %}

{% block title 'Tous les personnages | ' ~ parent() %}

{% block body %}
    <div class="container-fluid">
        {# <div>
            {% for team in teams %}
                <span class="badge bg-primary">{{ team.name }}</span>
            {% endfor %}
        </div> #}
        <h3 class="d-flex justify-content-end mx-4">
            <a href="{{ path('app.character.new') }}" class="btn btn-primary rounded text-light" title="Ajouter"> 
                <span class="fs-3">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </a>
        </h3>
        <div class="row">
        {% for character in characters %}
            <div class="col-2">
            {% for portrait in character.portraits %}
                <a href="{{ path('app.character.show', {'id': character.id})}}">
                    <img class="img-fluid rounded-3 cover__small mt-5" src="{{ asset('images/characters/' ~ portrait.name) }}" alt="{{ character.alias }} " title="{{ character.alias }}">
                </a>
            {% endfor %}
            </div>
        {% else %}
            <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>




        {% endfor %}
        </div>
    </div>
{% endblock %}
