{% extends 'base.html.twig' %}

{% block title 'Ajouter un personnage | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-5">Ajouter un personnage</h1>

    {{ include('character/_form.html.twig') }}

    <div class="d-flex justify-content-center">
        <a href="{{ path('app.character.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
{% endblock %}
