{% extends 'base.html.twig' %}

{% block title 'Personnage | ' ~ parent() %}

{% block body %}

    <div class="container-fluid d-flex justify-content-center align-items-center mt-1 mb-5">
        <div class="px-3">
            {% for portrait in character.portraits %}
                <img class="img-fluid rounded-3 cover" src="{{ asset('images/characters/' ~ portrait.name) }}" alt=" {{ character.alias }} " title=" {{ character.alias }}">
            {% endfor %}
        </div>

        <div class="card border-{{ character.side ? 'info text-light' : 'dark text-light' }}  mb-3" style="max-width: 20rem;">
            <div class="card-header bg-{{ character.side ? 'info' : 'dark' }} fs-3 text-light">{{ character.alias }}</div>
            <div class="card-body">
                <h4 class="card-title mt-2 mb-4 text-secondary">{{ character.firstName }} {{ character.lastName }}</h4>
                <hr>
            </div>
            <div class="card-footer bg-{{ character.side ? 'info text-light' : 'dark text-light' }} fs-5">{{ character.side ? 'Héros' : 'Vilain' }}</div>
        </div>
    </div>

    <div class="d-flex justify-content-center grid gap-3">
        <a href="{{ path('app.character.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        
        <a href="{{ path('app.character.edit', {'id': character.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        
        {{ include('character/_delete_form.html.twig') }}
    </div>
    <hr>

{% endblock %}
