<!-- Back to top button -->
<button
        type="button"
        class="btn btn-primary btn-floating btn-lg"
        id="back-to-top__button"
        >
  <i class="fa-solid fa-arrow-up"></i>
</button>