{% extends 'base.html.twig' %}

{% block title 'Modifier un portrait | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-5">Modifier un portrait</h1>

    {{ include('portrait/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="d-flex justify-content-center grid gap-3 mt-3">
        <a href="{{ path('app.portrait.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        
        {{ include('portrait/_delete_form.html.twig') }}
    </div>
{% endblock %}
