{% extends 'base.html.twig' %}

{% block title 'Tous les portraits | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-3">Tous les portraits</h1>

     <h3 class="d-flex justify-content-center m-3">
        <a href="{{ path('app.portrait.new') }}" class="btn btn-primary rounded text-light" title="Ajouter un portrait"> 
            <span class="fs-4">
                <i class="fa-solid fa-plus"></i>
            </span>
        </a>
    </h3>

    <div class="container-fluid w-75">
        <div class="row justify-content-center">  
        {% for portrait in portraits %}
            {% for character in portrait.characters %}
                <div class="col-2 bg-light rounded-4 m-3">
                    <div class="align-content-center text-secondary fs-5 px-2">{{ character.alias }}</div>
                    <div class="align-content-center px-2 mb-2">
                        <a href="{{ path('app.portrait.show', {'id': portrait.id}) }}" class="btn btn-info mt-3">Consulter</a>
                        <a href="{{ path('app.portrait.edit', {'id': portrait.id}) }}" class="btn btn-warning mt-3"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>




        {% endfor %}
        </div>
    </div>
{% endblock %}
