{% extends 'base.html.twig' %}

{% block title 'Ajouter un portrait | ' ~ parent() %}

{% block body %}
    
    <h1 class="text-primary mt-2 mb-5">Ajouter un portrait</h1>

    <div class="d-flex justify-content-center">
        <div class="d-block">
        <a href="{{ path('app.portrait.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
            {{ include('portrait/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
