{% extends 'base.html.twig' %}

{% block title %}Portrait{% endblock %}

{% block body %}
    {% if portrait.name %}
        {% for character in portrait.characters %}
            <div class="container-fluid d-flex justify-content-center w-50 mb-4">
            <div class="row justify-content-center">
                <h1 class="bg-{{ character.side ? 'info' : 'dark' }} fs-3 text-light rounded-4 p-2 w-75">{{ character.alias }}</h1>
                <img class="img-fluid rounded-5 cover" src="{{ asset('images/characters/' ~ portrait.name) }}" alt=" {{ character.alias }} " title=" {{ character.alias }}">
            </div>
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center grid gap-3">
            <a href="{{ path('app.portrait.index') }}" class="btn btn-info" title="Revenir à la liste">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="{{ path('app.portrait.edit', {'id': portrait.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
            {{ include('portrait/_delete_form.html.twig') }}
        </div>
    {% else %}
        <div colspan="5">
            <i class="fa-solid fa-user"></i>
        </div>
    {% endif %}
{% endblock %}
