{% extends 'base.html.twig' %}

{% block title 'Tous les univers | ' ~ parent() %}

{% block body %}

    {# <h1 class="text-primary mt-2 mb-5">Tous les Univers</h1> #}

    <div class="container-fluid">
        <h3 class="d-flex justify-content-end mx-4">
            <a href="{{ path('app.univers.new') }}" class="btn btn-primary rounded text-light" title="Ajouter"> 
                <span class="fs-3">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </a>
        </h3>
        <div class="row">
        {% for univers in multivers %}
            <div class="col-2">
                <a href="{{ path('app.univers.show', {'id': univers.id}) }}"> {{ univers.name }} </a>
        </div>
        {% else %}
            <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
