{% extends 'base.html.twig' %}

{% block title 'Univers | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-5">{{ univers.name }}</h1>

    <div class="container-fluid d-flex justify-content-center align-items-center mt-1 mb-5">
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header bg-info fs-3 text-light">{{ univers.name }}</div>
            <div class="card-body">
                <hr>
                <p class="card-text text-info">{{ univers.description }}</p>
            </div>
            <div class="card-footer text-secondary fs-6"> </div>
        </div>
    </div>

    <div class="d-flex justify-content-center grid gap-3">
        <a href="{{ path('app.univers.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        
        <a href="{{ path('app.univers.edit', {'id': univers.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        
        {{ include('univers/_delete_form.html.twig') }}
    </div>
    <hr>

{% endblock %}
