{% extends 'base.html.twig' %}

{% block title  'Tous les métiers | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-5">Tous les métiers</h1>

    <a href="{{ path('app.job.new') }}" class="btn btn-primary mt-3">Ajouter</a>

    <table class="table">
        <thead>
            <tr>
                {# <th>#</th> #}
                <th>Intitulé</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                {# <td>{{ job.id }}</td> #}
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>
                    <a href="{{ path('app.job.show', {'id': job.id}) }}" class="btn btn-info mt-3"><i class="fa-solid fa-pen-to-square"></i></a>>Consulter</a>
                    <a href="{{ path('app.job.edit', {'id': job.id}) }}" class="btn btn-warning mt-3"><i class="fa-solid fa-pen-to-square"></i></a>><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
