{% extends 'base.html.twig' %}

{% block title 'Métier | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-5">Job</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>#</th>
                <td>{{ job.id }}</td>
            </tr> #}
            <tr>
                <th>Intitulé</th>
                <td>{{ job.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center grid gap-3">
        <a href="{{ path('app.job.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        
        <a href="{{ path('app.job.edit', {'id': job.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        
        {{ include('job/_delete_form.html.twig') }}
    </div>

{% endblock %}
