<form method="post" action="{{ path('app.book.delete', {'id': book.id}) }}" onsubmit="return confirm('Êtes-vous certain(e) de vouloir supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
</form>
