{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        {{ form_row(form.subTitle) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.release) }}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        {{ form_row(form.volume) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.pages) }}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{ form_row(form.summary) }}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        {{ form_row(form.characters) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.formats) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.authors) }}
    </div>
    <div class="col-md-2"></div>
</div>

<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}