{% extends 'base.html.twig' %}

{% block title 'Tous les comics | ' ~ parent() %}

{% block body %}

    {# <h1 class="text-primary mt-2 mb-5">Tous les Comics</h1> #}

    <div class="container-fluid">
        <h3 class="d-flex justify-content-end mx-4">
            <a href="{{ path('app.book.new') }}" class="btn btn-primary rounded text-light" title="Ajouter"> 
                <span class="fs-3">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </a>
        </h3>
        <div class="row">
        {% for book in books %}
            <div class="col-2">
                {% for cover in book.covers %}
                    <a href="{{ path('app.book.show', {'id': book.id})}}">
                        <img class="img-fluid rounded-3 cover__small mt-5 selected_item" src="{{ asset('images/covers/' ~ cover.name) }}" alt="Couverture de comic de {{ book.title }} - {{ book.subTitle }}" title="{{ book.title }} - {{ book.subTitle }}">
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
