{% extends 'base.html.twig' %}

{% block title 'Comic | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-5">{{ book.title }} : {{ book.subTitle }}</h1>

    <div class="d-flex justify-content-center p-2">
        <div class="d-flex justify-content-center gap-3 border border-primary-subtle rounded-4 p-2">
            <a href="{{ path('app.book.index') }}" class="btn btn-info" title="Revenir à la liste">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            
            <a href="{{ path('app.book.edit', {'id': book.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
            
            {{ include('book/_delete_form.html.twig') }}
        </div>
    </div>
    
    <div class="mt-3 mb-3"></div>
    
    <div class="container-fluid d-flex justify-content-center align-items-center mt-1 mb-5">
        <div class="px-3">
            {% for cover in book.covers %}
                <img class="img-fluid rounded-3 cover comic-book" src="{{ asset('images/covers/' ~ cover.name) }}" alt="Couverture de comic de {{ book.title }} - {{ book.subTitle }}" title="{{ book.title }} - {{ book.subTitle }}">
            {% endfor %}
        </div>

        <div class="card border-info comic-book shadow-lg">
            <div class="card-header bg-info fs-3 text-light">{{ book.title }}</div>
            <div class="card-body">
                <h4 class="card-title mt-2 mb-4 text-primary">{{ book.subTitle }}</h4>
                <hr>
                <p class="card-text text-info">{{ book.summary }}</p>
            </div>
            <div class="card-body">
                <hr>
                {% for character in book.characters %}
                    <a class="card-link" href="{{ path('app.character.show', {'id': character.id})}}">
                        <span class="badge bg-primary"> 
                            {{ character.alias }}
                        </span>
                    </a>
                {% endfor %}
            </div>
            <div class="card-footer text-secondary fs-6"> ({{ book.pages }} pages)</div>
        </div>
    </div>

    <hr>

{% endblock %}
