{% extends 'base.html.twig' %}

{% block title 'Comics | ' ~ parent() %}

{% block body %}

    <div class="container-fluid">
        <h3 class="d-flex justify-content-end mx-4">
            <a href="{{ path('app.book.new') }}" class="btn btn-primary rounded text-light" title="Ajouter"> 
                <span class="fs-3">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </a>
        </h3>

        <div>
            {% for character in characters %}
                <div class="badge bg-info p-2 m-1 custom-badge">
                    <a href="{{ path('app.character.books', {'id': character.id})}}" class="active text-light fs-6">{{ character.alias }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for book in books %}
                <div class="col-2">
                    {% for cover in book.covers %}
                        <a href="{{ path('app.book.show', {'id': book.id})}}">
                            <img class="img-fluid rounded-3 cover__small mt-5 selected_item" src="{{ asset('images/covers/' ~ cover.name) }}" alt="Couverture de comic de {{ book.title }} - {{ book.subTitle }}" title="{{ book.title }} - {{ book.subTitle }}">
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>




            {% endfor %}
        </div>
    </div>

{% endblock %}
