{% extends 'base.html.twig' %}

{% block title 'Espèce | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-5">{{ nature.name }}</h1>

    <div class="container-fluid w-75 d-flex justify-content-center">
        <div class="card border-info mb-4" style="max-width: 20rem;">
            <div class="card-header bg-info fs-3 text-light">{{ nature.name }}</div>
            <div class="card-body">
                {# <h4 class="card-title">{{ author.id }}</h4> #}
                <p class="card-text text-info">{{ nature.description }}</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center grid gap-3">
        <a href="{{ path('app.nature.index') }}" class="btn btn-info" title="Revenir à la liste">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <a href="{{ path('app.nature.edit', {'id': nature.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        {{ include('nature/_delete_form.html.twig') }}
    </div>
{% endblock %}
