body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:auto;    
}
.wallpaper{
    min-width: 38vw;
    max-width: 38vw;
    min-height: 0vw;
    max-height: 0vw;
}
.cover{
    min-width: 20vw;
    max-width: 20vw;
    min-height: 29vw;
    max-height: 29vw;
}
.cover__small{
    min-width: 13vw;
    max-width: 13vw;
    min-height: 20vw;
    max-height: 20vw;
}
#back-to-top__button {
    position: fixed;
    bottom: 35px;
    right: 15px;
    display: none;
}
.custom-badge{
    min-width: 10rem;
    max-width: 10rem;
    min-height: 2rem;
    max-height: 2rem;
}
.custom-badge > a {
    text-decoration: none;
}
/* zoom when focus is on element */
.selected_item:hover {
    transform: scale(1.4) !important;
    transition: transform 0.03s ease-in-out;
    border-radius: 5%;border: solid 2.5px white;
} 
.comic-book {
    width: 750px;
    height: 550px;
    overflow: hidden;
}
.comic-book.cover {
    object-fit: cover; /* Keep proportions without distortion */
}
.comic-book.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Comic Sans MS', sans-serif;
}