<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand text-light mx-2" href="{{ path('app.page.home') }}">Personal Comics Collection</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5" id="navbarColor01">
      <ul class="navbar-nav me-auto fs-5">
        {% for univers in universList %}
          <li class="nav-item m-1">
            <a class="nav-link active text-light" href="{{ path('app.book.univers', {'id': univers.id}) }}">{{univers.name}}
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        {% endfor %}
        {# <li class="nav-item m-1">
          <a class="nav-link active text-light" href="{{ path('app.book.univers', {'id': univers.id}) }}">{{univers.name}}
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link active text-light" href="{{ path('app.book.univers', {'id': univers.id}) }}">{{univers.name}}
            <span class="visually-hidden">(current)</span>
          </a>
        </li> #}
        <li class="nav-item m-1 dropdown">
          <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lecture</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app.format.index') }}">Formats</a>
            <a class="dropdown-item" href="{{ path('app.event.index') }}">Évènements</a>
            <a class="dropdown-item" href="{{ path('app.author.index') }}">Auteurs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('app.cover.index') }}">Couvertures</a>
          </div>
        </li>
        <li class="nav-item m-1 dropdown">
          <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">En Détails</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app.character.index') }}">Personnages</a>
            <a class="dropdown-item" href="{{ path('app.nature.index') }}">Éspèces</a>
            <a class="dropdown-item" href="{{ path('app.team.index') }}">Équipes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('app.portrait.index') }}">Portraits</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>