{% extends 'base.html.twig' %}

{% block title  'Accueil | ' ~ parent() %}

{% block body %}

    <div class="d-flex justify-content-center">
        <div class="col-8">

            {% include '_layouts/partials/univers_badges.html.twig' %}
        
            <div>
                <img class="img-fluid wallpaper rounded-4" src="{{ asset('/images/wallpapers/__wallpaper.jpeg') }}" alt="Fond d'écran de la page d'accueil Marvel Comics Collection">
            </div>
        <div>
    </div>
{% endblock %}
