{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}

    <div class="row mt-5 p-3 border border-info rounded-3">
        {# <div class="col-md-2"></div> #}
        <div class="col-md-6">
            {{ form_row(form.imageFile) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.books) }}
        </div>
        <button class="btn btn-lg btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}
