{% extends 'base.html.twig' %}

{% block title 'Toutes les couvertures | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-3">Toutes les couvertures</h1>

     <h3 class="d-flex justify-content-center m-3">
        <a href="{{ path('app.cover.new') }}" class="btn btn-primary rounded text-light" title="Ajouter une couverture"> 
            <span class="fs-4">
                <i class="fa-solid fa-plus"></i>
            </span>
        </a>
    </h3>

    <div class="container-fluid w-75">
        <div class="row justify-content-center">  
        {% for cover in covers %}
            {% for book in cover.books %}
                <div class="col-3 bg-light rounded-4 m-3 p-3">
                    <div class="align-content-center fs-5 px-2">
                        <span class="text-dark">{{ book.subtitle }}</span>
                        <br>
                        <hr>
                        <span class="text-secondary">( {{ book.title }} )</span>
                        <hr>
                    </div>
                    <div class="align-content-center px-2 mb-2">
                        <a href="{{ path('app.cover.show', {'id': cover.id}) }}" class="btn btn-info mt-3">Consulter</a>
                        <a href="{{ path('app.cover.edit', {'id': cover.id}) }}" class="btn btn-warning mt-3"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>




        {% endfor %}
        </div>
    </div>
{% endblock %}
