{% extends 'base.html.twig' %}

{% block title 'Ajouter une couverture | ' ~ parent() %}

{% block body %}
    
    <h1 class="text-primary mt-2 mb-5">Ajouter une couverture</h1>


    <div class="d-flex justify-content-center">
        <div class="d-block">
            <a href="{{ path('app.cover.index') }}" class="btn btn-info" title="Revenir à la liste">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            {{ include('cover/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
