{% extends 'base.html.twig' %}

{% block title %}Cover{% endblock %}

{% block body %}
    {% if cover.name %}
        {% for book in cover.books %}
            <div class="container-fluid d-flex justify-content-center w-50 mb-4">
                <div class="row justify-content-center">
                    <img class="img-fluid rounded-5 cover" src="{{ asset('images/covers/' ~ cover.name) }}" alt=" {{ book.title }} - {{ book.subtitle }} " title=" {{ book.title }} - {{ book.subtitle }} ">
                </div>
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center grid gap-3">
            <a href="{{ path('app.cover.index') }}" class="btn btn-info" title="Revenir à la liste">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="{{ path('app.cover.edit', {'id': cover.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
            {{ include('cover/_delete_form.html.twig') }}
        </div>
    {% else %}
        <div colspan="5">
            <i class="fa-solid fa-user"></i>
        </div>
    {% endif %}
    </div>
{% endblock %}
