{% extends 'base.html.twig' %}

{% block title 'Tous les formats | ' ~ parent() %}

{% block body %}
    <h1 class="text-primary mt-2 mb-3">Tous les formats</h1>

    <h3 class="d-flex justify-content-center m-3">
        <a href="{{ path('app.format.new') }}" class="btn btn-primary rounded text-light" title="Ajouter un format"> 
            <span class="fs-4">
                <i class="fa-solid fa-plus"></i>
            </span>
        </a>
    </h3>

    <div class="d-flex justify-content-center container-fluid">
        <div class="row w-50">
        {% for format in formats %}
            <div class="d-flex justify-content-center flex-wrap col-4">
                <a class="btn btn-info rounded-4 m-3" href="{{ path('app.format.show', {'id': format.id})}}"> {{ format.entitled }} </a>
            </div>
        {% else %}
            <div colspan="10" class="text-secondary fs-5">Aucun enregistrement.</div>




        {% endfor %}
        </div>
    </div>


{% endblock %}
