{% extends 'base.html.twig' %}

{% block title 'Format | ' ~ parent() %}

{% block body %}
    <div class="container-fluid w-75 d-flex justify-content-center">
        <div class="card border-info mb-4" style="max-width: 20rem;">
            <div class="card-header bg-info fs-3 text-light">{{ format.entitled }}</div>
            <div class="card-body">
                {# <h4 class="card-title">{{ format.id }}</h4> #}
                <p class="card-text text-info">{{ format.description }}</p>
            </div>
        </div>
    </div>

        <div class="d-flex justify-content-center grid gap-3">
            <a href="{{ path('app.format.index') }}" class="btn btn-info" title="Revenir à la liste">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            
            <a href="{{ path('app.format.edit', {'id': format.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
            
            {{ include('format/_delete_form.html.twig') }}
        </div>

{% endblock %}
